*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body button:hover{
    background-color: yellow;
}
.background{
    width: 1000px;
    height: 140px;
    margin:1rem auto;
    background-color: aliceblue;
}
img:hover{
    box-shadow:red 10px 10px 12px,rgb(36, 36, 192) -10px -10px 12px;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 22px;
    padding: 10px 20px;
    margin-top: -50px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}
a:hover{
    font-weight: bolder;
    background: brown;
}
.hero{
    width: 1000px;
    height: 140px;
    margin:1rem auto; 
}
.hero img{
    width: 100%;
}
main{
    width: 1000px;
    height: 140px;
    margin:1rem auto;
}
section {
    margin-top: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
#description2{
    margin-top: -170px;
}
.description button{
    border: 1px burlywood solid;
    border-radius: 4px;
    width: 130px;
    height: 30px;
    background: burlywood;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}
footer .background{
    background-color: purple;
    margin-top: 400px;
    height: 100px;

}
footer div h2{
    color: white;
    display: inline-block;
    margin: 42px;
}
footer div div{
    display: inline-block;
    margin-left: 530px;    
}
.input input{
    background: purple;
    border: 1px burlywood solid;
    width: 150px;
    height: 20px;
}
input[type="email"]::placeholder{
    color: white;
    text-transform: uppercase;
}
.input button{
    background: burlywood;
    color: white;
    width: 40px;
    height: 30px;
    border-radius:5px;
    border: none;
    cursor: pointer;
}
