#dong{
   color: red; 
}
#dong2{
    color: blue;
}
#dong3{
    color : green;
}
#bai2{
    color : green;
    
}
#bailam2{
  background-color: goldenrod ; 
   width: 300px;
}
#bai3_1{
    background-color: cyan;
    width: 300px;
}
#bai3_2{
    background-color: blueviolet;
    width: 300px;
}
