*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
header,main, footer{
    width: 1000px;
    height: 100px;
    margin: 1rem auto;
}
.background{
    width: 1000px;
    height: 100px;
    background: rgb(140, 207, 39);
    margin: 1rem auto;
     
}
img:hover{
    box-shadow: red 10px 10px 12px, blue -10px -10px 12px;
}
.background img{
    display: flex;
    justify-content: flex-start;
}
.background ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
     margin-top: -40px;
}
a{
    text-decoration: none;
    padding: 20px 20px;
    margin-left: -20px;
    color: white;
}
a:hover{
    background: yellow;
}
.input{
    display: flex;
    justify-content: flex-end;
    margin-top:-13px;
}
.input button{
    background-color: black;
    color: white;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.hero img{
    width: 100%;
}
.title h2{
    color: rgb(73, 133, 113);
    margin-top: 460px;
}
section{
    width: 1000px;
    height: 450px;
    background-color: blanchedalmond;
}
.article1 img{
    float:left;
    width: 350px;
    margin-right: 20px;
    padding: 30px 30px;
}
 h3{
    color: rgb(36, 36, 131);
    padding: 30px;
}
 p{
    font-weight:bolder;
}
.article2{
    padding: 10px 10px;
    margin-top: -280px;
    text-align: center;
    width: 300px;
    height: 200px;
}
.article2 img{
    width: 300px;
}
.article2 h3{
    padding: 0px;
}
.article2 p{
    font-weight: 500;
}

#article3{
    padding: 10px 10px;
    margin-left: 500px;
    margin-top: -125px;
    text-align: center;
    width: 300px;
    height: 200px;
}

footer .background{
    background-color: rgb(32, 143, 32);
    margin-top: 600px;
}
footer h1{
    color: white;
    text-align: center;
    padding: 30px 30px;
}
